@font-face {
  font-family: "Fustat";
  src:
    url("/fonts/Fustat-Regular.woff2") format("woff2"),
    url("/fonts/Fustat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fustat";
  src:
    url("/fonts/Fustat-Medium.woff2") format("woff2"),
    url("/fonts/Fustat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fustat";
  src:
    url("/fonts/Fustat-Bold.woff2") format("woff2"),
    url("/fonts/Fustat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
